body {
    background-size: cover;
    background-position: right;
    padding: 10px;
    background-color: rgb(149, 141, 131);
}

h1 {
    font-size: 70px; /* Tamanho original da fonte */
    color: transparent;
    background-image: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    animation: colorChange 5s ease-in-out infinite;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    text-align: center;
}

#question, #answer {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 24px; /* Tamanho original da fonte */
    text-align: center;
    color: rgb(70, 39, 39);
}

#question {
    background-color: yellow;
}
 
#answer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    display: none; /* Inicialmente escondido */
}



.quadro {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid #000;
    padding: 20px;
    margin: 50px;
    background-color: #f0f0f0;
    width: auto;
    height: auto;
}
.quadro2 {
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid #000;
    padding: 20px;
    margin: 50px;
    background-color: #f0f0f0;
    width: auto; /* Definindo a largura como 100% para ocupar o mesmo espaço que o quadro1 */
    height: auto; /* Mantendo a altura automática para se ajustar ao conteúdo */
}


.container {
    display: grid;
    grid-template-columns: 1fr;
}

.item {
    background-color: #f0f0f0;
    padding: 20px;
}

.button-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

button {
    font-size: 32px;
    padding: 10px 20px;
    border: 0;
    border-radius: 15px;
    background: linear-gradient(to right, gold, rgb(255, 123, 0));
    cursor: pointer;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    display: inline-block;
    transition: transform 0.3s ease;
}

button:hover {
    box-shadow: 0 0 50px 20px rgba(115, 0, 255, 0.5);
    transform: scale(1.1);
}

@keyframes colorChange {
    0%, 100% {
        background-image: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
    }
    25% {
        background-image: linear-gradient(45deg, #ff0084, #33001b);
    }
    25% {
        background-image: linear-gradient(45deg, #ff12ff, #149530) ;
    }
}

/* Media Queries para responsividade */
@media (max-width: 600px) {
    h1 {
        font-size: 24px; /* Tamanho menor da fonte para telas pequenas */
    }

    #question, #answer {
        font-size: 18px; /* Tamanho menor da fonte para melhor leitura */
    }

    .quadro, .container {
        padding: 10px;
        margin: 10px;
    }

    button {
        font-size: 24px; /* Botões maiores para interação mais fácil */
        padding: 8px 16px;
        width: 100%; /* Largura total para melhor acessibilidade */
    }

    .button-group {
        flex-direction: column; /* Empilhar botões verticalmente em telas menores */
    }
}

@media (orientation: landscape) and (max-width: 800px) {
    body {
        padding: 20px;  /* Aumenta o padding do body para mais espaço ao redor */
    }
    h1 {
        font-size: 3vw; /* Tamanho da fonte baseado na largura da viewport */
    }

    #question, #answer {
        font-size: 2.5vw; /* Tamanho menor da fonte para paisagem */

    }

    .quadro {
        flex-direction: column; /* Organizar conteúdo verticalmente */
        padding: 5px;
        margin: 20px 10px;
        widht: 100%; /* Ajuste para utilizar toda a largura disponível */
    }
    .quadro2 {
        flex-direction: column; /* Organizar conteúdo verticalmente */
        padding: 5px;
        margin: 20px 10px;
        width: 100%; /* Ajuste para utilizar toda a largura disponível */
    }    
        

    .button-group {
        flex-direction: column;/* Botões empilhados verticalmente */
        margin: 10px 0;
    }

    button {
        width: 50%; /* Botões mais largos */
    }
}

